.nav {
  font-family: var(--bfont);
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  /* margin-left read as inline so react can read it */
  transition: margin-left 600ms ease-in-out;
}
.nav-menu {
  border-right: 2px groove black;
  height: 100vh;
  width: 40vw;
  position: fixed;
  z-index: 2;
  background-color: blanchedalmond;
}

/* set for onClick */

.nav-title {
  text-align: center;
  padding: 10px 5px;
  font-size: 1.6em;
  /* white-space: nowrap; */
  border-bottom: 2px groove black;
  background-color: rgb(225, 183, 132);
  z-index: 3;
  cursor: pointer;
}

.nav-lst {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  z-index: 3;
}

.list-item {
  padding: 20px 10px;
  border-bottom: 2px groove black;
  background-color: blanchedalmond;
  cursor: pointer;
  z-index: 3;
}

.list-item:hover {
  background-color: rgb(155, 122, 72);
  color: white;
}

.nav-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  border: 2px groove black;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  z-index: 1;
  text-align: right;
  padding: 5px;
  font-size: 1.5em;
  font-family: var(--hfont);
  font-weight: bold;
  cursor: pointer;
  transition: margin-left 600ms ease-in-out;
}
